/* Write your code here */
/* Write your code here */

.mainCont {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.reviewCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pCont {
  align-items: center;
}

.h1 {
  color: white;
  font-size: 30px;
}

.Mn {
  color: white;
  font-size: 20px;
}

.Mc {
  color: #171f46;
}

.i1 {
  height: 20px;
  width: 20px;
}

.Mi {
  height: 200px;
  width: 200px;
}

.btn {
  background-color: transparent;
  border: 0px;
  margin-left: 300px;
  margin-right: 300px;
  cursor: pointer;
}

.bCont {
  display: flex;
  flex-direction: row;
}
